<header>
  <!-- NavBar -->
  <nav class="navbar navbar-expand-lg navbar-light bg-light border-bottom border-top ">
    <div class="container">
      <a class="navbar-brand fs-2 fw-bold " href="#"><i class="fa fa-cart-shopping fs-2"
          style="color: #f54242;"></i><span class="textBlur">Shopwise</span></a>
      <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent"
        aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
        <!--Toggle  -->
        <span class="navbar-toggler-icon"></span>
      </button>
      <!-- Nav Items -->
      <div class="collapse navbar-collapse" id="navbarSupportedContent">
        <ul class="navbar-nav ms-auto mb-2 mb-lg-0  text-center ">

          <li class="nav-item dropdown">
            <a class="nav-link dropdown-toggle fw-semibold text-uppercase  me-1 text-danger" href="#"
              id="navbarDropdown" role="button" data-bs-toggle="dropdown" aria-expanded="false">
              home
            </a>
            <ul class="dropdown-menu" aria-labelledby="navbarDropdown">
              <li><a class="dropdown-item" href="#">Option</a></li>
              <li><a class="dropdown-item" href="#">Option</a></li>

              <li><a class="dropdown-item" href="#">Option</a></li>
            </ul>
          </li>
          <!-- 
          <li class="nav-item dropdown">
            <a class="nav-link dropdown-toggle fw-semibold text-uppercase text-black  me-1" href="#" id="navbarDropdown"
              role="button" data-bs-toggle="dropdown" aria-expanded="false">
              shop
            </a>
            <ul class="dropdown-menu" aria-labelledby="navbarDropdown">
              <li><a class="dropdown-item" href="#">Option</a></li>
              <li><a class="dropdown-item" href="#">Option</a></li>

              <li><a class="dropdown-item" href="#">Option</a></li>
            </ul>
          </li>
         -->
          <li class="nav-item">
            <a class="nav-link fw-semibold text-uppercase text-black  me-1" href="#">Contact us</a>
          </li>

          <li class="nav-item dropdown">
            <a class="nav-link dropdown-toggle cart fw-semibold text-uppercase text-black  me-1" href="#"
              id="navbarDropdown" role="button" data-bs-toggle="dropdown" aria-expanded="false">
              <i class="fa fa-cart-plus position-relative fs-5" style="color: #202122;"></i>
              <span class="position-absolute start-100 translate-middle badge rounded-pill bg-danger ms-2 scale-1-5">
                {{cartProducts.length}}
                <span class="visually-hidden">unread messages</span>
              </span>
            </a>

            <div class="dropdown-menu">
              <div class="CartContainer">
                <div class="row">
                  <div class="col-6">
                    Your Cart
                  </div>
                  <div class="col-6 text-end text-danger">
                    Remove All
                  </div>
                </div>
                <div class="row pt-1" *ngFor="let cart of cartProducts">
                  <div class="col-4">
                    <img class="img-fluid" style="height: 30px;border-radius: 50%;" [src]="cart.productImageUrl"
                      class="card-img-top">
                  </div>
                  <div class="col-3">
                    {{cart.productName}}
                  </div>
                  <div class="col-2">
                    {{cart.quantity + 1}}
                  </div>
                  <div class="col-2 text-end">
                    {{ cart.productPrice}}
                  </div>
                </div>

                <div class="row">
                  <div class="col-3">

                  </div>
                  <div class="col-9">
                    <hr>
                  </div>
                </div>

                <div class="row">
                  <div class="col-2">

                  </div>
                  <div class="col-2">

                  </div>
                  <div class="col-4">
                    <div class="Subtotal">Sub-Total</div>
                    <div> <small> 2 items</small></div>
                  </div>
                  <div class="col-4 text-end">
                    <strong> ${{subTotal}}</strong>
                  </div>
                </div>
                <div class="row">
                  <div class="col-12 text-end">
                    <button class="btn btn-sm btn-success" (click)="redirectToSale()">Checkout</button>
                  </div>
                </div>
              </div>
            </div>
          </li>

          <!-- user authentication -->
          <li class="nav-item dropdown">
            <a class="nav-link dropdown-toggle user fw-semibold text-uppercase text-black  me-1" href="#"
              id="navbarDropdown" role="button" data-bs-toggle="dropdown" aria-expanded="false">
              <i class="fa fa-user  fs-5" style="color: #202122;"></i>
            </a>
            <ul class="dropdown-menu" aria-labelledby="navbarDropdown">
              <li><a class="dropdown-item" data-bs-toggle="modal" data-bs-target="#signUpModal">Sign Up</a>
              </li>
              <li><a class="dropdown-item" data-bs-toggle="modal" data-bs-target="#loginModal">Login</a></li>
            </ul>
          </li>

        </ul>
      </div>
    </div>
  </nav>
</header>



<!--Sign up Modal -->
<div class="modal fade" id="signUpModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <h1 class="modal-title fs-5" id="exampleModalLabel">Sign Up</h1>
        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
      </div>
      <div class="modal-body">
        <form>

          <div class="mb-3">
            <label for="fullName" class="form-label">Full Name</label>
            <input type="text" class="form-control" name="fullName">
          </div>

          <div class="mb-3">
            <label for="userName" class="form-label">User Name</label>
            <input type="text" class="form-control" name="userName">
          </div>

          <div class="mb-3">
            <label for="password" class="form-label">Password</label>
            <input type="password" class="form-control" name="password">
          </div>

          <div class="mb-3">
            <label for="email" class="form-label">Email</label>
            <input type="email" class="form-control" name="email">
          </div>

          <div class="mb-3">
            <label for="dob" class="form-label">Date of Birth</label>
            <input type="date" class="form-control" id="dob" name="dob">
          </div>

          <div class="d-flex justify-content-between">
            <button type="submit" class="btn btn-primary btn-md">Sign Up</button>
            <p>Already a Customer? <a href="">Sign In</a></p>
          </div>
        </form>
      </div>
    </div>
  </div>
</div>

<!--Login  Modal -->
<div class="modal fade" id="loginModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <h1 class="modal-title fs-5" id="exampleModalLabel">Sign In</h1>
        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
      </div>

      <div class="modal-body">
        <form>
          <div class="mb-3">
            <label for="loguserName" class="form-label">User Name</label>
            <input type="text" class="form-control" name="loguserName" id="loguserName">
          </div>

          <div class="mb-3">
            <label for="logpassword" class="form-label">Password</label>
            <input type="password" class="form-control" name="logpassword" id="logpassword">
          </div>

          <div class="mb-3 form-check">
            <input type="checkbox" class="form-check-input" id="exampleCheck1">
            <label class="form-check-label" for="exampleCheck1">Remember Me</label>
          </div>

          <div class="d-flex justify-content-between">
            <button type="submit" class="btn btn-primary btn-md">Sign In</button>
            <p>Not a member? <a href="">Sign Up</a></p>
          </div>

        </form>
      </div>
    </div>
  </div>
</div>


<section>
  <div class="container">
    <router-outlet></router-outlet>
  </div>
</section>
